{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>tul website fira</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<footer>
  <div class="content">
    <div class="top">
      <div class="logo-details">
        <i class="fab fa-slack"></i>
        <span class="logo_name">link  website geratis</span>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">download foto geratis</li>
        <li><a href="https://unsplash.com/">unsplash</a></li>
        <li><a href="https://www.pexels.com/">pexels</a></li>
        <li><a href="https://pixabay.com/">pixabay</a></li>
        <li><a href="https://burst.shopify.com/">shopify</a></li>
        <li><a href="https://www.freepik.com/">freepik</a></li>
        <li><a href="https://www.reshot.com/">reshot</a></li>
        <li><a href="https://picjumbo.com/">picjumbo</a></li>
        <li><a href=" https://stocksnap.io/">stocksnap</a></li>
        <li><a href="https://kaboompics.com/">kaboompics</a></li>
        <li><a href="https://www.splitshire.com/">splitshire</a></li>
        <li><a href=" https://isorepublic.com/">isorepublic</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">belajar ngoding</li>
        <li><a href="https://www.freecodecamp.org/">freecodecamp</a></li>
        <li><a href="https://www.codecademy.com/">codecademy</a></li>
        <li><a href="https://www.w3schools.com/">w3schools</a></li>
        <li><a href="https://developer.mozilla.org/">mozilla</a></li>
        <li><a href="https://www.khanacademy.org/computing/computer-programming">khanacademy</a></li>
        <li><a href="https://www.coursera.org/">coursera</a></li>
        <li><a href="https://www.edx.org/">edx</a></li>
        <li><a href="https://www.sololearn.com/">sololearn</a></li>
        <li><a href="https://www.theodinproject.com/">theodinproject</a></li>
        <li><a href="https://www.sololearn.com/">sololearn</a></li>
        <li><a href="https://www.hackerrank.com/domains/tutorials/10-days-of-javascript">hackerrank</a></li>
       
        
      </ul>
      <ul class="box">
        <li class="link_name">tul AI</li>
        <li><a href="https://chat.openai.com/">chat.openai</a></li>
        <li><a href="https://www.perplexity.ai/">perplexity</a></li>
        <li><a href="https://www.blackbox.ai/">blackbox</a></li>
        <li><a href="https://app.leonardo.ai/">leonardo</a></li>
        <li><a href="https://www.semrush.com/">semrush</a></li>
        <li><a href="https://www.newsearchtoday.co/">newsearchtoday</a></li>
        <li><a href="https://www.consumersearch.com/">consumersearch</a></li>
        <li><a href="#">Banner design</a></li>
        <li><a href="">App design</a></li>
        <li><a href="#">Web design</a></li>
        <li><a href="#">Logo design</a></li>
       
        
      </ul>
      <ul class="box">
        <li class="link_name">website desain</li>
        <li><a href="https://www.canva.com/">canva</a></li>
        <li><a href="https://spark.adobe.com/">spark.adobe</a></li>
        <li><a href="https://www.picmonkey.com/">picmonkey</a></li>
        <li><a href="https://www.fotor.com/">fotor</a></li>
        <li><a href="https://pixlr.com/">pixlr</a></li>
        <li><a href="https://www.befunky.com/">befunky</a></li>
        <li><a href="https://www.fotojet.com/">fotojet</a></li>
        <li><a href="https://snappa.com/">snappa</a></li>
        <li><a href="https://crello.com/">crello</a></li>
        <li><a href="https://www.designcap.com/">designcap</a></li>
        <li><a href="http://fotoflexer.com/">fotoflexer</a></li>
       
        
      </ul>
      <ul class="box input-box">
        <li class="link_name">Subscribe</li>
        <li><input type="text" placeholder="Enter your email"></li>
        <li><input type="button" value="Subscribe"></li>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">fre website<a href="#">aulia safira </a>semoga bisa membatu</span>
      <span class="policy_terms">
        <a href="#">Privacy policy</a>
        <a href="#">Terms _&_ condition</a>
      </span>
    </div>
  </div>
</footer>
  
</body>
</html>
